@import "../../styles/variable/Variable.module.scss";


.wrapper {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    transition: all 1s ease;
    
    &.active {
        right: 0;
    }
    
    ul {
        width: 60%;
        font-size: 30px;
        font-weight: 300;
        color: #fff;

        li {
            margin-bottom: 25px;

            &:hover {
                font-weight: 500;
            }
        }
    }
}