@import "../../styles/variable/Variable.module.scss";
@import "../../styles/mixin/Mixin.scss";

.list {
    font-size: 14px;
    margin: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
        color: #fff;
        background-color: $main-color;
    } 

   @include mobile {
        margin: 10px;
   }
}