@import "../../styles/variable/Variable.module.scss";
@import "../../styles/mixin/Mixin.scss";

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    color:$main-color;
    background-color: #fff;
    transition: all 1s ease;

    &.active {
        color: #fff;
        background-color: $main-color;

        .hamburger {
            span {
                &:first-child{
                    background-color: #fff;
                    transform: rotate(32deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    background-color: #fff;
                    transform: rotate(-32deg);
                }
                                
            }
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    .left {
        display: flex;
        align-items: center;

        .logo {
            font-size: 40px;
            font-weight: 700;
            margin-right: 40px;
        }

        .itemContainer {
            display: flex;
            align-items: center;
            margin-right: 30px;

            @include mobile {
                display: none;
            }

            .icon {
                font-size: 18px;
                margin-right: 5px;
            }

            span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .right {
        .hamburger {
            width: 32px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                width: 100%;
                height: 3px;
                background-color: $main-color;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
    }
}

